// Global 
html, body {
  margin:0;
  padding:0;
  width: 100%;
  
}

#footer {
  position:absolute;
  bottom:0;  /* colle en bas */
  width:100%;
  height: auto;  
}
 

$font-family-base: Montserrat, sans-serif;
.montserrat-font {
  font-family: 'Montserrat', sans-serif;
  color: #1e1e1e;
}

.logo {
    width: 109px;
    height: 64px;
    margin: 25px;

  }

@media screen and (max-width: 600px) {
  .btn-mint {
    display: none;
  }
  
}
  
// image entete

.object-cover {
  object-fit: cover;
}
.object-pos-top {
  object-position: 50% 30%;
}

.img-entete {
  width: 979px;
  height: 653px;
  object-position: 50% 10%;
}


.img-portfolio {
  width: 100%;
  height: 300px;
  background-color: #ffe600;
  object-fit: cover;
  
  position: relative;
  

}


.img-portfolio:hover{
  opacity: 50%;
  filter: alpha(opacity=50);
  cursor: pointer;
  background-color: #ffe600;
}



.texte-img-center {
  position: absolute;
  width: 95%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe600;
  opacity: 50%;
  text-align: center;
}

.img-logo {
  width: auto;
  height: auto;
}


.bg-mint {
  --bs-bg-opacity: .5;
  background-color: rgba(var(--bs-mint-rgb), var(--bs-bg-opacity)) !important;
}


@media screen and (max-width: 600px) {
  .img-entete{
    max-width: 979px;
    max-height: 653px;

    .object-cover {
      object-fit: cover;
    }
    .object-pos-top {
      object-position: 50% 10%;
    }
  
}
}

//Web Designer

.img-team {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.texte-team-center {
  position: absolute;
  width: 50%;
  height: auto;
  margin-top: 5px;
  bottom: 0;
  text-align: start;
}

// BLOG

.card-blog{
  width: 100%;
  margin: auto;
  padding: auto;
  border: none;
}





//Footer button

